---
import { slugifyStr } from "@/utils/slugify";
import type { CollectionEntry } from "astro:content";
import { getPath } from "@/utils/getPath";
import Datetime from "./Datetime.astro";

export interface Props extends CollectionEntry<"blog"> {
  variant?: "h2" | "h3";
  showDescription?: boolean;
  imageClass?: string;
  fallbackOgImage?: string;
  showCommentCount?: boolean;
  showDatetime?: boolean;
  compact?: boolean;
}

const { 
  variant = "h2",
  data, 
  id, 
  filePath, 
  showDescription = true,
  imageClass, 
  fallbackOgImage,
  showCommentCount = true,
  showDatetime = true,
  compact = false
} = Astro.props;

const { title, description, pubDatetime, modDatetime, timezone, ogImage } = data;

const headerProps = {
  style: { viewTransitionName: slugifyStr(title) },
  class: "text-lg font-medium hover:underline",
};

const defaultImageClass = "w-[76px] sm:w-[50px] h-auto object-cover rounded-md aspect-square group-hover:opacity-90 transition-opacity duration-300";

let imgSrc = typeof ogImage === 'string' ? ogImage : (ogImage as any)?.src;

if ((!imgSrc || imgSrc.trim() === "") && fallbackOgImage) {
  imgSrc = fallbackOgImage;
}
---

<li class:list={[compact ? "my-2" : "my-6", "grid grid-cols-[auto_1fr] items-center gap-4"]}>
  <!-- {/* 缩略图 */}
  {imgSrc && (
    <a href={getPath(id, filePath)} class="shrink-0">
      <img
        src={imgSrc}
        alt={title}
        class={`${imageClass || defaultImageClass} mx-auto my-auto`}
        loading="lazy"
        onerror={fallbackOgImage ? `this.onerror=null; this.src='${fallbackOgImage}';` : undefined}
      />
    </a>
  )} -->

  <div>
    <a
      href={getPath(id, filePath)}
      class="inline-block text-lg font-medium text-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
    >
      {variant === "h2" ? (
        <h2 {...headerProps}>{title}</h2>
      ) : (
        <h3 {...headerProps}>{title}</h3>
      )}
    </a>

    <!-- {/* 文章描述 */}
    {showDescription && (
      <p class="mt-2 text-sm text-gray-700 dark:text-gray-300 hidden sm:block">
        {description.length > 40
          ? description.substring(0, 40) + "..."  // 超过40字符时截断并添加省略
          : description}
      </p>
    )} -->

    <div class="flex items-center gap-x-1">
      {showDatetime && (
        <Datetime pubDatetime={pubDatetime} modDatetime={modDatetime} timezone={timezone} />
      )}
      {showCommentCount && (
        <span class="text-xs opacity-80">
          {showDatetime && "· "}<span class="artalk-comment-count" data-page-key={getPath(id, filePath)}></span> Comments
        </span>
      )}
    </div>
  </div>
</li>

<style>
  /* 自定义样式 */
  /* 例如：确保图片高度一致性（如果aspect-video在某些浏览器中不工作） */
  /*
  .aspect-video {
    aspect-ratio: 16 / 9;
  }
  */
</style>